* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: #1d1d21;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

section {
  padding: 100px 20px 20px 20px;
}

/* removes scrollbar */
body::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

::selection {
  background-color: #6b2433;
}

nav {
  border-bottom: solid;
  color: #960c43;
  height: 80px;
  width: 60%;
  margin: 0 auto;
  display: flex;
  min-width: 800px;
  justify-content: space-between;
  position: relative;
  background-color: #1d1d21;
  z-index: 99;
}
nav .links {
  height: 50px;
  margin-right: 40px;
  margin-left: 40px;
  min-width: 240px;
  width: 25%;
  display: flex;
  justify-content: space-around;
}
nav .links a {
  text-decoration: none;
  color: #e3e0e2;
  width: 40%;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 28px;
  padding-right: 20px;
  padding-left: 20px;
  position: relative;
  top: 50%;
  transition: 0.3s;
}
nav h1 {
  min-width: 400px;
  line-height: 75px;
  position: relative;
  margin-left: 40px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #e3e0e2;
  font-size: 50px;
}
nav a:hover {
  color: #52525d;
}

footer {
  width: 60%;
  border-top: solid;
  color: #960c43;
  margin: 0 auto;
  height: 40px;
  min-width: 800px;
  z-index: 99;
  background: #1d1d21;
}

.sub-header {
  width: 250px;
  height: 40px;
  position: relative;
  margin: 0 auto;
  margin-bottom: 5px;
  text-align: center;
  border-bottom: solid;
  color: #960c43;
  border-bottom-width: 3px;
}
.sub-header h3 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #e3e0e2;
  font-size: 30px;
  font-weight: normal;
}

.sub-header.about-me {
  margin-top: 100px;
}

.banner {
  height: 150px;
  max-width: 980px;
  background-color: orchid;
  margin: 0 auto;
  margin-top: 20px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8)), url(../images/banner.jpg);
  background-size: cover;
  background-position: center;
}

.info {
  height: 1400px;
  width: 1400px;
  margin: 0 auto;
  min-width: 300px;
}
.info .intro {
  height: 400px;
  width: 700px;
  margin: auto;
}
.info .intro p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #e3e0e2;
  font-size: 30px;
  text-align: center;
  width: 700px;
  padding-top: 150px;
}
.info .home {
  height: 800px;
  width: 1000px;
  display: flex;
  align-content: space-around;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
}
.info .home .main {
  position: relative;
  width: 400px;
  min-width: 200px;
  height: 300px;
  min-height: 300px;
  margin: 0 auto;
  text-align: center;
  color: white;
  padding-bottom: 50px;
  padding-top: 40px;
  border-radius: 5px;
  background-color: #960c43;
  border-color: #6b2433;
  border-style: solid;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-style: normal;
  transition: all 0.5s ease 0s;
  /* hides anything that would be outside the div */
}
.info .home .main h3 {
  font-weight: normal;
  font-size: 46px;
}
.info .home .main h4 {
  margin-top: 30px;
  font-weight: normal;
  color: #1d1d21;
  font-size: 20px;
}
.info .home .main a {
  text-decoration: none;
  color: #e3e0e2;
  font-size: 30px;
  transition: 0.3s;
  position: relative;
  bottom: -26%;
}
.info .home .main a:hover {
  color: #1d1d21;
}
.info .home .main:hover {
  background: #52525d;
  border-color: #960c43;
  transition: all 0.6s ease 0.1s;
}

.about {
  height: 1000px;
  width: 900px;
  margin: 0 auto;
}
.about .about-info {
  width: 900px;
  height: 180px;
  margin: 0 auto;
  margin-top: 30px;
}
.about .about-info h3 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #e3e0e2;
  font-size: 30px;
  font-weight: normal;
  border-bottom: solid;
  border-width: 3px;
  width: 150px;
  border-bottom-color: #960c43;
}
.about .about-info h3.resume {
  justify-content: center;
}
.about .about-info p {
  width: 550px;
  height: 130px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #e3e0e2;
  font-size: 20px;
  font-weight: normal;
  text-align: left;
  position: relative;
  left: 300px;
  letter-spacing: 1px;
}

.contact {
  height: 500px;
  width: 1000px;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
}
.contact .con-info {
  height: 400px;
  width: 500px;
  margin: 0 auto;
  margin-top: 30px;
}
.contact .con-info .con-div {
  height: 70px;
  margin: 0 auto;
  margin-top: 40px;
  text-align: center;
  display: flex;
  flex-direction: row;
  width: 500px;
}
.contact .con-info .con-div p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 30px;
  text-overflow: wrap;
  text-align: left;
  color: #960c43;
}
.contact .con-info .con-div p a {
  color: #e3e0e2;
  text-decoration: none;
  text-align: right;
}
.contact .con-info .con-div div {
  color: #e3e0e2;
  text-align: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 30px;
  width: 500px;
}
.contact .con-info .con-div div a {
  color: #e3e0e2;
  text-decoration: none;
  text-align: right;
}
.contact .con-info .con-div div .fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  margin: auto;
  justify-content: center;
}
.contact .con-info .con-div div .fa:hover {
  opacity: 0.7;
}
.contact .con-info .con-div div .fa-linkedin {
  background: #007bb5;
  color: white;
}
.contact .icons {
  margin: 0 auto;
  display: flex;
  height: 150px;
  width: 150px;
}
.contact .icons .fa {
  padding: 20px;
  font-size: 30px;
  width: 60px;
  text-align: center;
  text-decoration: none;
  margin: auto;
}
.contact .icons .fa:hover {
  opacity: 0.7;
}
.contact .icons .fa-linkedin {
  background: #007bb5;
  color: white;
}