footer {
  width: 60%;
  border-top: solid;
  color: $red;
  margin: 0 auto;
  height: 40px;
  position: fixed;
  bottom: 0%;
  transform: translateX(33%);
  min-width: 800px;
  z-index: 99;
  background: $dark-grey;
}
