.sub-header {
  width: 250px;
  height: 40px;
  position: relative;
  margin: 0 auto;
  margin-bottom: 5px;
  text-align: center;

  border-bottom: solid;
  color: #960c43;

  border-bottom-width: 3px;

  h3 {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    color: $smoke-white;
    font-size: 30px;
    font-weight: normal;
  }
}
.sub-header.about-me {
  margin-top: 100px;
}
.banner {
  height: 150px;
  max-width: 980px;
  background-color: orchid;
  margin: 0 auto;
  margin-top: 20px;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.8)
    ),
    url(../images/banner.jpg);
  background-size: cover;
  background-position: center;
}
